<div class="col-xs-12 col-md-16">
  <h1>Recent Publications</h1>


  <p>
    <!-- [Full list of publications >>](publication) -->
  </p>










  <div class="pub-list-item card-simple" itemscope="" itemtype="http://schema.org/CreativeWork">





    <a href="//cs.nyu.edu/~zhongshi/publication/progressive-embedding/">


      <img src="/~zhongshi/img/PE-2019.png" class="article-banner" itemprop="image">

    </a>

    <div style="vertical-align:middle;overflow:hidden; display:inline-block; max-width:60%;">
      <h4 class="article-title" itemprop="name">
        <a href="//cs.nyu.edu/~zhongshi/publication/progressive-embedding/" itemprop="url">Progressive Embedding</a>
      </h4>

      <div class="pub-abstract" itemprop="text">



      </div>

      <div class="pub-authors" itemprop="author">

        Hanxiao Shen, <strong>Zhongshi Jiang</strong>, Denis Zorin, Daniele Panozzo

      </div>

      <div class="pub-publication">
        <em>ACM Transaction on Graphics</em> (Proceedings of <strong>SIGGRAPH</strong>),
        2019</div>

      <div class="pub-links">





        <a class="btn btn-primary btn-outline btn-xs" href="//cs.nyu.edu/~zhongshi/files/ProgressiveEmbedding.pdf"
          target="_blank" rel="noopener">
          PDF
        </a>

        <a class="btn btn-primary btn-outline btn-xs" href="https://github.com/hankstag/progressive_embedding"
          target="_blank" rel="noopener">
          Code
        </a>















      </div>
    </div>

  </div>




  <div class="pub-list-item card-simple" itemscope="" itemtype="http://schema.org/CreativeWork">





    <a href="//cs.nyu.edu/~zhongshi/publication/abc-dataset/">


      <img src="/~zhongshi/img/abc-dataset.png" class="article-banner" itemprop="image">

    </a>

    <div style="vertical-align:middle;overflow:hidden; display:inline-block; max-width:60%;">
      <h4 class="article-title" itemprop="name">
        <a href="//cs.nyu.edu/~zhongshi/publication/abc-dataset/" itemprop="url">ABC: A Big CAD Model Dataset For
          Geometric Deep Learning </a>
        <img src="https://sgp2019.di.unimi.it/images/award_dataset.png" alt="SGP Dataset Award"
          title="SGP Dataset Award" style="width:64px;height:64px;">

      </h4>

      <div class="pub-abstract" itemprop="text">



      </div>

      <div class="pub-authors" itemprop="author">

        Sebastian Koch, Albert Matveev, <strong>Zhongshi Jiang</strong>, Francis Williams, Alexey Artemov, Evgeny
        Burnaev, Marc Alexa, Denis Zorin, Daniele Panozzo

      </div>

      <div class="pub-publication">
        <em>IEEE Conference on Computer Vision and Pattern Recognition</em> (<strong>CVPR</strong>),
        2019</div>
      <div class="pub-links">




        <a class="btn btn-primary btn-outline btn-xs" href="https://arxiv.org/abs/1812.06216" target="_blank"
          rel="noopener">
          PDF
        </a>






        <a class="btn btn-primary btn-outline btn-xs" href="https://archive.nyu.edu/handle/2451/43778" target="_blank"
          rel="noopener">
          Dataset
        </a>



        <a class="btn btn-primary btn-outline btn-xs" href="https://deep-geometry.github.io/abc-dataset/"
          target="_blank" rel="noopener">
          Project
        </a>








      </div>
    </div>

  </div>




  <div class="pub-list-item card-simple" itemscope="" itemtype="http://schema.org/CreativeWork">





    <a href="//cs.nyu.edu/~zhongshi/publication/surface-networks/">


      <img src="/~zhongshi/img/SurfaceNetworks.png" class="article-banner" itemprop="image">

    </a>

    <div style="vertical-align:middle;overflow:hidden; display:inline-block; max-width:60%;">
      <h4 class="article-title" itemprop="name">
        <a href="//cs.nyu.edu/~zhongshi/publication/surface-networks/" itemprop="url">Surface Networks</a>
      </h4>

      <div class="pub-abstract" itemprop="text">



      </div>

      <div class="pub-authors" itemprop="author">

        Ilya Kostrikov, <strong>Zhongshi Jiang</strong>, Daniele Panozzo, Denis Zorin, Joan Bruna

      </div>

      <div class="pub-publication">
        <em>IEEE Conference on Computer Vision and Pattern Recognition</em> (<strong>CVPR</strong>) (<em>Oral
          Presentation</em>),
        2018</div>

      <div class="pub-links">





        <a class="btn btn-primary btn-outline btn-xs" href="//cs.nyu.edu/~zhongshi/files/SurfaceNetworks.pdf"
          target="_blank" rel="noopener">
          PDF
        </a>





        <a class="btn btn-primary btn-outline btn-xs" href="https://github.com/jiangzhongshi/SurfaceNetworks"
          target="_blank" rel="noopener">
          Code
        </a>











      </div>
    </div>

  </div>




  <div class="pub-list-item card-simple" itemscope="" itemtype="http://schema.org/CreativeWork">





    <a href="//cs.nyu.edu/~zhongshi/publication/simplicial-complex-augmentation-framework-for-bijective-maps/">


      <img src="/~zhongshi/img/SCAF-2017.png" class="article-banner" itemprop="image">

    </a>

    <div style="vertical-align:middle;overflow:hidden; display:inline-block; max-width:60%;">
      <h4 class="article-title" itemprop="name">
        <a href="//cs.nyu.edu/~zhongshi/publication/simplicial-complex-augmentation-framework-for-bijective-maps/"
          itemprop="url">Simplicial Complex Augmentation Framework for Bijective Maps</a>
        <img
          src="https://www.acm.org/binaries/content/gallery/acm/publications/large-replication-badges/artifacts_evaluated_functional.jpg"
          alt="Artifacts Evaluated - Functional" style="width:64px;height:64px;" title="Replicability Stamp">
      </h4>

      <div class="pub-abstract" itemprop="text">



      </div>

      <div class="pub-authors" itemprop="author">

        <strong>Zhongshi Jiang</strong>, Scott Schaefer, Daniele Panozzo

      </div>

      <div class="pub-publication">
        <em>ACM Transaction on Graphics</em> (Proceedings of <strong>SIGGRAPH Asia</strong>),
        2017</div>

      <div class="pub-links">





        <a class="btn btn-primary btn-outline btn-xs" href="https://par.nsf.gov/servlets/purl/10047009" target="_blank"
          rel="noopener">
          PDF
        </a>





        <a class="btn btn-primary btn-outline btn-xs" href="https://github.com/jiangzhongshi/Scaffold-Map"
          target="_blank" rel="noopener">
          Code
        </a>







        <a class="btn btn-primary btn-outline btn-xs" href="//cs.nyu.edu/~zhongshi/files/SCAF_talk.pdf" target="_blank"
          rel="noopener">
          Slides
        </a>





      </div>
    </div>

  </div>




</div>
